[submodule "third_party/sdl"]
	path = third_party/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "third_party/wgpu-native"]
	path = third_party/wgpu-native
	url = https://github.com/gfx-rs/wgpu-native.git
